#select_resource{
    width:90%;
    height:90%;
    margin-left:-45%;
    margin-top:-300px;
    padding:0;
}
.delete_table_container {
    margin-top: 15%;
}
.deleteid{
    margin-bottom: 10%;
}
.deleteid label{
    font-size: 17px;
    font-weight: 200;
}