html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
#main{
    margin: 30px 20px 50px 20px;
}
div#option li{
    position:relative;
    top:1px;
    padding:0.5em 1em;
    color:#36648B;
    cursor:pointer;
    display:inline-block;
    border:1px solid #7B7B7B;
    background-color:white;
    border-top-right-radius:0.5em;
}
div#option li:hover{
    border-bottom:1px solid white;
}
div#task_list{
    padding:20px;
    background-color:white;
    border:1px solid #7B7B7B;
}
#example input{
    width:100%;
    background-color:white;
    border:1px solid #CCCCCC;
    display:inline-block;
    height:2em
}
#example td,#example2 td,#example3 td{
    text-align:center
}
#example span,#example2 span,#example3 span{
    text-align:left
}
.btngroup {
    position: relative;
    float: right;
    right: 10px;
    margin-bottom: 15px;
}
div#mask{
    width:100%;
    height:300%;
    position:fixed;
    background-color:#000;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    filter: alpha(opacity=30);
    display:none;
}
.window{
    width:500px;
    height:300px;
    background-color: #F8F8F8;
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-200px;
    z-index:100;
    padding:20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius:5px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    text-align:center;
    display: none;
}

.show_head{
    text-align:right;
}
.show_head a{
    font-size: 25px;
}
table tr{
    vertical-align:middle;
}
 table tr td{
    vertical-align:middle;
}
.hash_string:hover {
    cursor: pointer;
}

.detailtitle{
    font-weight: 600;
    margin-left:10%;
    width:80%;
    float:left;
    text-align: center;
    font-size: 14px;
}
textarea {
    background-color: #eeeeee;
    border: 1px solid #00000017;
    padding: 10px;
    width: 90%;
    font-size: 13px;
    font-family: Courier New;
    text-align: center;
}
/*new
*
********************************************/
